:root {
    font-family: 'Karla', sans-serif;
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    margin: 0;
    background-color: #f9fafb;
}

#sidebar {
    background-image: url('./images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border:none;
    height: 100%;
    width: 40%;
}

#sidebar > h1 {
    color: white;
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
    margin: 200px 0px 0px 0px;
    padding: 5px;
}

#maincontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    margin: 0 auto;
    width: 60%;
}

#formbox {
    background-color: white;
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    /* border-radius: 1em; */
}

#formfields {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
form li + li {
    margin-top: 1em;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

ul > li {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 50px;
    background-color: #5384c6;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

#login {
    display: flex;
    align-items: center;
    gap: 10px;
}

#login > a {
    color: #5384c6;
    font-weight: bolder;
    text-decoration: none;
}



